#signup div{
    text-align: center;
}
#signup p{
    text-align: center;
    font-size: 0.7em;
}
#signup #banner{
    background-color: #4259D2;
    color: #fff;
    border-radius: 20px;
    margin: 0px 0px 50px 0px;
    font-family: "Merriweather";
}

.btn-pin{
    background-color: #c61118 !important;
    color: #fff !important;
    border: 0px !important;
    box-shadow: inset 0 0 0 0px #212931;
}

.btn-pin:hover{
    color: #fff !important;
    box-shadow: inset 0 0 0 2px #333 !important;
}

/* Tooltip container */
.tooltip-inner {
  text-align: left;
  padding: 20px 20px;
}


#boardPins img{
    width: 100px;
    display: block;
}


/* Gauge Styles */
.activity_score{
    text-align: center;
    font-size: 1.5em;
}
 .activity_score p{
    text-align: center;
    font-size: 0.5em;
}


.tooltip{
    z-index:100000000;
}

.invalid-feedback{
    display: block !important;
}

.avatar {
    text-align: middle;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


button:hover,
.button:hover,
.button:hover a.button:hover {
    box-shadow: inset 0 0 0 2px #deb150;
    background-color: : #deb150 !important;
    color: #deb150 !important;
}

#nav button:hover,
#nav .button:hover {
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff !important;
}

.posts h2 a:hover{
    color: #deb150 !important;
}


input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    box-shadow: inset 0 0 0 2px #c61118;
    background-color: #c61118 !important;
    color: #fff !important;
}

#nav ul.links li.active a:hover {
    color: #c61118 !important;
}

#header .logo:hover {
    border-color: #fff !important;
    color: #fff !important;
    text-decoration:  none !important;
}

a:hover{
    color: #4259D2 !important;
    text-decoration:  none !important;
}

#loading .icon{
    text-align: center;
}

#boardRows td.loading{
    text-align: center;
}

#boardRows td.loading img{
    height: 2rem;
    vertical-align: top;
}
